body{
    background-color: red;
    color: #fff;
    text-align: center;    
}

.boom{
    width: 200px;
    height: 200px;
}

li{
    display: flex;
    color: #fff;
}
.fola{
    background-color: aqua;
    color: red;
}
.fola1{
    top: 200px;
    border-radius: 15px;
}
input{
    height: 38px;
    width: 280px;
    padding: 10px;
    margin: 7px;
    border-radius: 10px;
    border: none;
}
.register{
    background-color: red;
    color: #fff;
}