body{
    background-color: red;
    color: #fff;
    text-align: center;    
}

.boom{
    width: 200px;
    height: 200px;
}

li{
    display: flex;
    color: #fff;
}
.fola{
    background-color: red;
    color: #fff;
}
.fola1{
    height: 20px;
    border-radius: 15px;
}
input{
    position: relative;
    top: 100px;
    height: 38px;
    width: 280px;
    padding: 10px;
    margin: 7px;
    border-radius: 10px;
    border: none;
}
#one{
    text-align: center;
}
.register{
    background-color: red;
    color: #fff;
}