{% load static %}
{% static 'images' as baseUrl %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/gbogs.css' %}">
    <title>olacash</title>
</head>
<body>
    
    {% block content %}
    <nav>
        <h1 class="logo">Olacash Housing</h1>
    <ul>
        <li><a href="/" class="a">Homepage</a></li>
        <li><a href="accounts/contact" class="a">Contact</a></li>

        {% if user.is_authenticated %}
        <li class="log">Hello, {{user.username}}</li>
        <li><a href="accounts/logout" class="a">Logout</a></li>
        {% else %}
        <li><a href="accounts/register" class="a">Register</a></li>
        <li><a href="accounts/login" class="a">Login</a></li>
        {% endif %}
    </ul>
    </nav>
    
    <div class="homepage">
        {% for dest in dests %}
        <img class="boom" src="{{dest.img.url}}">
        
        <h1>{{dest.name}}</h1>
        <h2>{{dest.desc}}</h2>
        {% if dest.offer %}
        <h4><a href="#">special offer</a></h4>
        {% endif %}
        <div>from ${{dest.price}}</div>
        {% endfor %}

        {% endblock %}
    </div>
</body>
</html>